body{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif ;
    color: #f9faf8;
}
header{
    display: flex;
    flex-direction: column;
}
.nav-bar{
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background-color:#1f2937 ;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-shrink: 0;
    
}
.logo{
    margin-left: 50px;
}
ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    margin-right: 50px;
    
}
a{
    text-decoration: none;
    color: #f9faf8;
}
.content-description{
    padding-top: 200px;
    background-color: #1f2937;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
    gap: 20px;
    
}
.description{
    width: min-content;
}
h1{
    font-size: 48px;
}
.description button{
    background-color: #3882f6 ;
    color: #f9faf8;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
    margin-bottom: 50px;
}
.content-description img{
    width: 500px;
    height: 300px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px #f9faf8;
    
}
.content{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 30px;
}
.content{
    color: #1f2937;
}
h2{
    font-size: 36px;
}
.content figure{
    width: 200px;
}
.content-img{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
figure img{
    width: 200px;
    border: 2px solid #3882f6;
    border-radius: 5px;

}
.content-blockquote{
    display: flex;
    height: 500px;
    background-color:#e5e7eb ;
    align-items: center;
    justify-content: center;
}
.content-blockquote figure{
    width: 800px;
    color: #1f2937 ;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.content-blockquote figcaption{
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}
.content-info-button{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-info{
    display: flex;
    align-items: center;
    flex: 0.7;
    border-radius: 20px;
    justify-content: space-around;
    background-color: #3882f6;
    padding: 40px 0;
    
}
.content-info h3{
    font-size: 24px;
}
.content-info p{
    font-size: 18px;
}
.content-info-button button{
    border: 2px solid #f9faf8;
    border-radius: 20px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    font-size: 18px;
}
.footer{
    display: flex;
    height: 100px;
    background-color: #1f2937;
    align-items: center;
    justify-content: center;
}
